/* .button {
    color: black;
    background-color: #eab06e;
    font-family: Rubik;
    margin-bottom: 20px;
}

.button:hover {
    color: black;
    background-color: #f2dda6;
    font-family: Rubik;
} */

/* textTransform: "none",
         backgroundColor: "#EAB06E",
         color: "black",

         ":hover": {
             bgcolor: "#F2DDA6",
            color: "black",
         },
     */
